---
- name: Install config files
  become: true
  notify: Restart nagios
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ nagios_object_dir }}/{{ item.dest }}"
    owner: "{{ nagios_user }}"
    group: "{{ nagios_group }}"
    mode: '0640'
  with_items:
    - {src: hosts.cfg, dest: hosts.cfg}
    - {src: hostgroups.cfg, dest: hostgroups.cfg}
    - {src: services.cfg, dest: services.cfg}
    - {src: commands.cfg, dest: additional_commands.cfg}
    - {src: additional_timeperiods.cfg, dest: additional_timeperiods.cfg}

- name: Install contacts.cfg
  become: true
  notify: Restart nagios
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ nagios_object_dir }}/{{ item.dest }}"
    owner: "{{ nagios_user }}"
    group: "{{ nagios_group }}"
    mode: '0640'
  with_items:
    - {src: contacts.cfg, dest: contacts.cfg}
  when: users is defined

- name: Install more config files
  become: true
  notify: Restart nagios
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ nagios_base_dir }}/etc/{{ item.dest }}"
    owner: "{{ nagios_user }}"
    group: "{{ nagios_group }}"
    mode: '0775'
  with_items:
    - {src: cgi.cfg, dest: cgi.cfg}

# 2022-12-13 note: why was the = equal sign escaped? And perhaps since the initial commit. As follows:
# regexp: "^cfg_file\={{ nagios_object_dir }}/{{ item }}\.cfg"
- name: Update nagios.cfg with config files
  become: true
  notify: Restart nagios
  ansible.builtin.lineinfile:
    dest: "{{ nagios_base_dir }}/etc/nagios.cfg"
    line: "cfg_file={{ nagios_object_dir }}/{{ item }}.cfg"
    regexp: "^cfg_file={{ nagios_object_dir }}/{{ item }}.cfg"
    backup: true 
  with_items:
    - hosts
    - hostgroups
    - services
    - additional_commands
    - additional_timeperiods
  when: not nagios_cfg_dir_enabled

- name: Update nagios.cfg with config dir
  become: true
  notify: Restart nagios
  ansible.builtin.lineinfile:
    dest: "{{ nagios_base_dir }}/etc/nagios.cfg"
    line: "cfg_dir={{ nagios_object_dir }}"
    regexp: "^cfg_dir={{ nagios_object_dir }}"
  when: nagios_cfg_dir_enabled

# if there is a conflict: two localhost definitions
- name: Update nagios.cfg, comment out localhost
  become: true
  notify: Restart nagios
  ansible.builtin.lineinfile:
    path: "{{ nagios_base_dir }}/etc/nagios.cfg"
    line: "#cfg_file={{ nagios_object_dir }}/{{ item }}.cfg"
    # regexp: "^cfg_file\={{ nagios_object_dir }}/{{item}}\.cfg"
    regexp: "^cfg_file={{ nagios_object_dir }}/{{ item }}.cfg"
    backrefs: true
  with_items:
    - localhost
  when: nagios_removelocalhost is defined or 'localhost' in groups['all']
